<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入门小Demo-2</title>
    <script src="plugins/angularjs/angular.min.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('myController', function ($scope) {
            $scope.add = function () {
                $scope.z = $scope.x + $scope.y;
            }
        })
    </script>
</head>
<body ng-app="app" ng-controller="myController">
<input ng-model="x">
<input ng-model="y">
<button ng-click="add()">运算</button>

{{z}}

</body>
</html>